* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff0aa;
}

.wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: fit-content;
}

header {
    padding: 20px;
    max-width: 1920px;
    background: powderblue;
    color: #282828;
    border: blue;
    border-width: 0 0 5px 0;
    border-style: solid;
}

header h1 {
    font-size: 56px;
    display: inline-block;
    font-weight: bolder;

}

header nav {
    float: right;
    padding: 20px 10px 20px 10px;
    margin-right: 20px;
    font-size: 36px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header button {
    background-color: #ffa07a;
    border: red;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px 2px;
    padding: 5px;
    color: #282828;
    font-weight: bold;
}

header button:hover {
    cursor: pointer;
    background-color: red;
}

.photo1 {
    height: 320px;
    width: 50%;
    float: left;
    border: blue;
    border-style: solid;
    border-width: 2px 2px 4px 2px;
    margin-bottom: 10px;
}

.photo2-3 {
    height: 320px;
    width: 25%;
    float: right;
    border: blue;
    border-style: solid;
    border-width: 2px 2px 4px 2px;
    margin-bottom: 10px;
}

#about-me {
    margin: 50px;
    background-color: powderblue;
    padding: 25px;
    color: #282828;
    border: blue;
    border-style: solid;
    border-radius: 25px;
}

#about-me aside {
    font-size: 48px;
    font-weight: bold;
    float: left;
    padding: 25px;
    margin: 10px 25px;
    background-color: #ffa07a;
    border: red;
    border-width: medium;
    border-style: solid;
    border-radius: 25px;
}

#about-me content {
    font-size: 24px;
}

#my-work {
    margin: 50px;
    background-color: #ffa07a;
    padding: 25px;
    color: #282828;
    border: red;
    border-style: solid;
    border-radius: 25px;
}

#my-work aside {
    font-size: 48px;
    font-weight: bold;
    float: left;
    padding: 25px;
    margin: 10px 25px;
    background-color: powderblue;
    border: blue;
    border-width: medium;
    border-style: solid;
    border-radius: 25px;
}

.coming-soon {
    padding: 85px 15px;
    font-size: 32px;
    background-color: powderblue;
    border: blue;
    border-style: solid;
    border-radius: 10px;
    border-width: medium;
    color: #282828;
    font-weight: bold;
    float: right;
}

.html {
    padding: 85px 60px;
    font-size: 32px;
    background-color: powderblue;
    border: blue;
    border-style: solid;
    border-radius: 10px;
    border-width: medium;
    color: #282828;
    font-weight: bold;
    float: right;
    margin-right: 5px;
}

.css {
    padding: 85px;
    font-size: 32px;
    background-color: powderblue;
    border: blue;
    border-style: solid;
    border-radius: 10px;
    border-width: medium;
    color: #282828;
    font-weight: bold;
    float: right;
    margin-right: 5px;
}

.javascript {
    padding: 85px 37px;
    font-size: 32px;
    background-color: powderblue;
    border: blue;
    border-style: solid;
    border-radius: 10px;
    border-width: medium;
    color: #282828;
    font-weight: bold;
    float: right;
    margin-right: 5px;
}

#my-work button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

#contact-me {
    margin: 50px;
    background-color: powderblue;
    padding: 25px;
    color: #282828;
    border: blue;
    border-style: solid;
    border-radius: 25px;
}

#contact-me aside {
    font-size: 48px;
    font-weight: bold;
    float: left;
    padding: 25px;
    margin: 10px 25px;
    background-color: #ffa07a;
    border: red;
    border-width: medium;
    border-style: solid;
    border-radius: 25px;
}

#contact-me button {
    background-color: #ffa07a;
    border: red;
    border-style: solid;
    border-radius: 10px;
    border-width: medium;
    color: #282828;
    font-weight: bold;
}

#contact-me button:hover {
    cursor: pointer;
    background-color: red;
}

.email {
    float: right;
    padding: 50px;
    font-size: 32px;
    margin-left: 10px;
}

.linkedin {
    float: right;
    padding: 50px;
    font-size: 32px;
    margin-left: 10px;
}

.github {
    float: right;
    padding: 50px;
    font-size: 32px;
    margin-left: 10px;
}

@media screen and (max-width: 1491px) {
    .css {
        width: 35%;
        margin: 5px 0 0 0;
    }
    .javascript {
        width: 35%;
        margin: 5px 5px 0 0;
    }
    .html {
        width: 35%;
    }
    .coming-soon {
        width: 35%;
    }
}

@media screen and (max-width: 1203px) {
    .coming-soon {
        width: 65%;
    }
    .html {
        width: 65%;
        margin: 5px 0 0 5px;
    }
    .css {
        width: 65%;
    }
    .javascript {
        width: 65%;
        margin: 5px 0;
    }
    .email {
        width: 65%;
    }
    .linkedin {
        width: 65%;
        margin: 5px 0;
    }
    .github {
        width: 65%;
    }
}
